<hr>
<section class="container d-flex flex-column align-items-center justify-content-center">
    <h2>Hero page</h2>
    <h1>{{ name() }}</h1>
    
    <dl>
      <td>Nombre:</td>
      <dd>{{ name().toUpperCase() }}</dd>
    
      <td>Edad:</td>
      <dd>{{ age() }}</dd>
    
      <td>Método:</td>
      <dd>{{ getHeroDescription() }}</dd>
    
      <td>Capitalizado:</td>
      <!-- ! Intentar  -->
      <!-- <dd> {{ 'Mostrar nombre TODO EN MAYÚSCULAS' }} </dd> -->
    </dl>
</section>
    <section class="container d-flex align-items-center justify-content-center">

        <button (click)="changeHero()" class="btn btn-primary mx-2">
          Cambiar nombre
        </button>
        
        <button (click)="chageAge()" class="btn btn-primary">Cambiar edad</button>
        
        <button (click)="resetForm()" class="btn btn-primary mx-2">Reset</button>
    </section>